<%- include('../partials/header') %>

  <h1><%=title%></h1>
      <p>This is a Node.js website using Express.js and EJS templates.</p>
      <p><img src="/images/node-js.png" alt="Node.js" width="500" height="300"></p>
      <p>By combining the capabilities of Express.js and EJS, I've created this website to demonstrate how one can efficiently produce dynamic, server-side rendered pages. As you navigate through the different pages, you'll find examples of various themes and content, all rendered using EJS templates.</p>    
      <p>Learn more about EJS from their official <a href="https://ejs.co/" target="_blank">website</a>.
</p>    

<%- include('../partials/footer') %>
